# =======================================
# Node.js / Next.js 공통
# =======================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# =======================================
# Build Output (Next.js)
# =======================================
.next/
out/
dist/

# =======================================
# 환경변수 및 설정 파일
# =======================================
.env
.env*.local
.vercel
.now

# =======================================
# IDE / OS 별 파일
# =======================================
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VSCode
.vscode/
*.code-workspace

# IntelliJ / JetBrains
.idea/
*.iml

# =======================================
# Test / Coverage
# =======================================
coverage/
*.lcov

# =======================================
# Logs
# =======================================
logs
*.log
